body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f2f5;
    overflow-x: hidden;
}

#app {
    width: 100%;
    max-width: 80%;
    box-sizing: border-box;
    padding: 20px;
}

.text {
    font-size: 14px;
}

.item {
    margin-bottom: 18px;
}

.clearfix:before,
.clearfix:after {
    display: table;
    content: "";
}

.clearfix:after {
    clear: both;
}

.box-card {
    width: 100%;
    margin-bottom: 20px;
    box-sizing: border-box;
    line-height: 1.5;
}

.centered-row {
    display: flex;
    justify-content: center;
}

.log-entry {
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #eee;
}

.log-text {
    margin-top: 0.5rem;
    white-space: pre-wrap;
}

.log-image {
    margin-top: 0.5rem;
    overflow: hidden;  /* 隐藏溢出内容 */
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-slot {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background: #f5f7fa;
    color: #909399;
}