<!doctype html>
<html lang="zh">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="icon" href="/static/favicon.ico">
    <title>MAA-API管理页面</title>

    <!-- 引入 Vue 和 Element Plus -->
    <script src="https://unpkg.com/vue@3.2.47/dist/vue.global.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/element-plus@2.9.7/dist/index.css" />
    <script src="https://unpkg.com/element-plus@2.9.7/dist/index.full.js"></script>
    <script src="https://unpkg.com/@element-plus/icons-vue@2.3.1/dist/index.iife.min.js"></script>
    <script src="https://unpkg.com/axios@1.8.4/dist/axios.min.js"></script>
    <script defer="defer" src="/static/js/app.js"></script>
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
    <div id="app">
        <el-tabs v-model=pageTabActiveName type="card" @tab-click="handleTabClick">
            <el-tab-pane label="首页" name="Index"></el-tab-pane> 
            <el-tab-pane label="日常" name="Daily"></el-tab-pane> 
        </el-tabs>

        <el-card class="box-card">
            <template #header>
                <el-row>
                    <el-col :span="4">
                        <span>流水线状态</span>
                    </el-col>
                    <el-col :span="19">
                        <el-tag :type="getTagType(pipeline.status)" effect="light" round>
                            {{ pipeline.status }}
                        </el-tag>
                    </el-col>
                    <el-col :span="1">
                        <el-button @click="refreshMaaPipelineDataAndScreenshot" circle>
                            <el-icon>
                                <Refresh />
                            </el-icon>
                        </el-button>
                    </el-col>
                </el-row>
            </template>
            <el-row :gutter="20">
                <el-col :span="24">
                    <el-image :src="adbScreenshot">
                    </el-image>
                </el-col>
            </el-row>
        </el-card>

        <el-card class="box-card">
            <template #header>
                <span>任务列表</span>
            </template>
            <div v-for="(task, index) in pipeline.tasks" :key="index">
                <div v-if="task.type_name === 'StartUp'">
                    <el-card class="box-card">
                        <template #header>
                            <el-row>
                                <el-col :span="4">
                                    <span>开始唤醒</span>
                                </el-col>
                                <el-col :span="20">
                                    <el-tag :type="getTagType(task.status)" effect="light" round>
                                        {{ task.status }}
                                    </el-tag>
                                </el-col>
                            </el-row>
                        </template>
                        <el-row class="centered-row">
                            <el-col :span="4">
                                <span>客户端类型:</span>
                            </el-col>
                            <el-col :span="20">
                                <el-input v-model="task.params.client_type" :disabled="true"></el-input>
                            </el-col>
                            <el-divider />
                        </el-row>
                        <el-row class="centered-row">
                            <el-col :span="4">
                                <span>自动启动客户端:</span>
                            </el-col>
                            <el-col :span="20">
                                <el-switch v-model="task.params.start_game_enabled" active-color="#13ce66"
                                    inactive-color="#ff4949" :disabled="true"></el-switch>
                            </el-col>
                            <el-divider />
                        </el-row>
                    </el-card>
                </div>

                <div v-if="task.type_name === 'Recruit'">
                    <el-card class="box-card">
                        <template #header>
                            <el-row>
                                <el-col :span="4">
                                    <span>自动公招</span>
                                </el-col>
                                <el-col :span="20">
                                    <el-tag :type="getTagType(task.status)" effect="light" round>
                                        {{ task.status }}
                                    </el-tag>
                                </el-col>
                            </el-row>
                        </template>

                        <el-row class="centered-row">
                            <el-col :span="4">
                                <span>自动刷新三星Tags:</span>
                            </el-col>
                            <el-col :span="20">
                                <el-switch v-model="task.params.refresh" active-color="#13ce66" :disabled="true"
                                    inactive-color="#ff4949">
                                </el-switch>
                            </el-col>
                            <el-divider />
                        </el-row>

                        <el-row class="centered-row">
                            <el-col :span="4">
                                <span>允许选择的Tag等级:</span>
                            </el-col>
                            <el-col :span="20">
                                <el-select v-model="task.params.select" multiple :disabled="true">
                                    <el-option label="1" :value="Number(1)"></el-option>
                                    <el-option label="2" :value="Number(2)"></el-option>
                                    <el-option label="3" :value="Number(3)"></el-option>
                                    <el-option label="4" :value="Number(4)"></el-option>
                                    <el-option label="5" :value="Number(5)"></el-option>
                                </el-select>
                            </el-col>
                            <el-divider />
                        </el-row>

                        <el-row class="centered-row">
                            <el-col :span="4">
                                <span>允许确定的Tag等级:</span>
                            </el-col>
                            <el-col :span="20">
                                <el-select v-model="task.params.confirm" multiple :disabled="true">
                                    <el-option label="1" :value="Number(1)"></el-option>
                                    <el-option label="2" :value="Number(2)"></el-option>
                                    <el-option label="3" :value="Number(3)"></el-option>
                                    <el-option label="4" :value="Number(4)"></el-option>
                                    <el-option label="5" :value="Number(5)"></el-option>
                                </el-select>
                            </el-col>
                            <el-divider />
                        </el-row>

                        <el-row class="centered-row">
                            <el-col :span="4">
                                <span>公招次数:</span>
                            </el-col>
                            <el-col :span="20">
                                <el-input-number v-model="task.params.times" :min="0" :max="100"
                                    :disabled="true"></el-input-number>
                            </el-col>
                            <el-divider />
                        </el-row>
                    </el-card>
                </div>

                <div v-if="task.type_name === 'Infrast'">
                    <el-card class="box-card">
                        <template #header>
                            <el-row>
                                <el-col :span="4">
                                    <span>基建换班</span>
                                </el-col>
                                <el-col :span="20">
                                    <el-tag :type="getTagType(task.status)" effect="light" round>
                                        {{ task.status }}
                                    </el-tag>
                                </el-col>
                            </el-row>
                        </template>

                        <el-row class="centered-row">
                            <el-col :span="4">
                                <span>换班设施:</span>
                            </el-col>
                            <el-col :span="20">
                                <el-select v-model="task.params.facility" multiple :disabled="true">
                                    <el-option label="制造站" value="Mfg"></el-option>
                                    <el-option label="贸易站" value="Trade"></el-option>
                                    <el-option label="发电站" value="Power"></el-option>
                                    <el-option label="控制中枢" value="Control"></el-option>
                                    <el-option label="会客室" value="Reception"></el-option>
                                    <el-option label="办公室" value="Office"></el-option>
                                    <el-option label="宿舍" value="Dorm"></el-option>
                                </el-select>
                            </el-col>
                            <el-divider />
                        </el-row>
                    </el-card>
                </div>

                <div v-if="task.type_name === 'Fight'">
                    <el-card class="box-card">
                        <template #header>
                            <el-row>
                                <el-col :span="4">
                                    <span>刷理智</span>
                                </el-col>
                                <el-col :span="20">
                                    <el-tag :type="getTagType(task.status)" effect="light" round>
                                        {{ task.status }}
                                    </el-tag>
                                </el-col>
                            </el-row>
                        </template>

                        <el-row class="centered-row">
                            <el-col :span="4">
                                <span>关卡:</span>
                            </el-col>
                            <el-col :span="20">
                                <el-input v-model="task.params.stage" :disabled="true"></el-input>
                            </el-col>
                            <el-divider />
                        </el-row>

                        <el-row class="centered-row">
                            <el-col :span="4">
                                <span>最大理智药使用数量:</span>
                            </el-col>
                            <el-col :span="20">
                                <el-input-number v-model="task.params.medicine" :min="0" :max="100"
                                    :disabled="true"></el-input-number>
                            </el-col>
                            <el-divider />
                        </el-row>

                        <el-row class="centered-row">
                            <el-col :span="4">
                                <span>48小时内过期理智药使用数量:</span>
                            </el-col>
                            <el-col :span="20">
                                <el-input-number v-model="task.params.expiring_medicine" :min="0" :max="100"
                                    :disabled="true"></el-input-number>
                            </el-col>
                            <el-divider />
                        </el-row>

                        <el-row class="centered-row">
                            <el-col :span="4">
                                <span>连战次数:</span>
                            </el-col>
                            <el-col :span="20">
                                <el-input-number v-model="task.params.series" :min="-1" :max="6"
                                    :disabled="true"></el-input-number>
                            </el-col>
                            <el-divider />
                        </el-row>
                    </el-card>
                </div>

                <div v-if="task.type_name === 'Mall'">
                    <el-card class="box-card">
                        <template #header>
                            <el-row>
                                <el-col :span="4">
                                    <span>领取信用及购物</span>
                                </el-col>
                                <el-col :span="20">
                                    <el-tag :type="getTagType(task.status)" effect="light" round>
                                        {{ task.status }}
                                    </el-tag>
                                </el-col>
                            </el-row>
                        </template>

                        <el-row class="centered-row">
                            <el-col :span="4">
                                <span>是否购物:</span>
                            </el-col>
                            <el-col :span="20">
                                <el-switch v-model="task.params.shopping" active-color="#13ce66"
                                    inactive-color="#ff4949" :disabled="true" />
                            </el-col>
                            <el-divider />
                        </el-row>

                        <el-row class="centered-row">
                            <el-col :span="4">
                                <span>优先购买:</span>
                            </el-col>
                            <el-col :span="20">
                                <el-select v-model="task.params.buy_first" multiple :disabled="true">
                                    <el-option label="招聘许可" value="招聘许可"></el-option>
                                    <el-option label="龙门币" value="龙门币"></el-option>
                                </el-select>
                            </el-col>
                            <el-divider />
                        </el-row>
                    </el-card>
                </div>

                <div v-if="task.type_name === 'Award'">
                    <el-card class="box-card">
                        <template #header>
                            <el-row>
                                <el-col :span="4">
                                    <span>领取奖励</span>
                                </el-col>
                                <el-col :span="20">
                                    <el-tag :type="getTagType(task.status)" effect="light" round>
                                        {{ task.status }}
                                    </el-tag>
                                </el-col>
                            </el-row>
                        </template>
                    </el-card>
                </div>

                <div v-if="task.type_name === 'CloseDown'">
                    <el-card class="box-card">
                        <template #header>
                            <el-row>
                                <el-col :span="4">
                                    <span>关闭游戏</span>
                                </el-col>
                                <el-col :span="20">
                                    <el-tag :type="getTagType(task.status)" effect="light" round>
                                        {{ task.status }}
                                    </el-tag>
                                </el-col>
                            </el-row>
                        </template>

                        <el-row>
                            <el-col :span="4">
                                客户端类型:
                            </el-col>
                            <el-col :span="20">
                                <el-input v-model="task.params.client_type" :disabled="true"></el-input>
                            </el-col>
                        </el-row>

                    </el-card>
                </div>
            </div>
        </el-card>

        <el-card class="box-card">
            <template #header>
                <span>日志</span>
            </template>
            <div v-for="(log, index) in pipeline.logs" :key="index" class="log-entry">
                <el-tag
                    :type="getLogTagType(log.log_level)"
                    effect="light"
                    round
                >
                    {{ log.log_level }}
                </el-tag>

                <div v-if="log.log_type === 'text'" class="log-text">
                    {{ log.content }}
                </div>

                <div v-else-if="log.log_type === 'img'" class="log-image">
                    <el-image
                        :src="`data:image/jpeg;base64,${log.content}`"
                        fit="contain"                style="height: auto; width: auto;"
                    >
                        <template #error>
                            <div class="image-slot">加载失败</div>
                        </template>
                    </el-image>
                </div>
            </div>
        </el-card>

        <el-button type="success" @click="createTaskDialogVisible = true" :disabled="pipeline.status === 'running'">
            创建任务
        </el-button>
        <el-button type="danger" @click="cancelMaaPipelineData">
            终止任务
        </el-button>

        <el-dialog title="创建任务" :close-on-click-modal="false" v-model="createTaskDialogVisible">
            <el-collapse accordion>
                <div v-for="(task, index) in createTasks" :key="index">

                    <div v-if="task.name === 'StartUp'">
                        <el-collapse-item>
                            <template #title>
                                <el-row class="centered-row">
                                    <el-col :span="20">
                                        <span>开始唤醒</span>
                                    </el-col>
                                    <el-col :span="4">
                                        <el-switch v-model="task.enable" active-color="#13ce66"
                                            inactive-color="#ff4949">
                                        </el-switch>
                                    </el-col>
                                </el-row>
                            </template>
                            <el-card class="box-card">
                                <el-row class="centered-row">
                                    <el-col :span="4">
                                        <span>客户端类型:</span>
                                    </el-col>
                                    <el-col :span="20">
                                        <el-input v-model="task.client_type"></el-input>
                                    </el-col>
                                    <el-divider />
                                </el-row>

                                <el-row class="centered-row">
                                    <el-col :span="4">
                                        <span>自动启动客户端:</span>
                                    </el-col>
                                    <el-col :span="20">
                                        <el-switch v-model="task.start_game_enabled" active-color="#13ce66"
                                            inactive-color="#ff4949">
                                        </el-switch>
                                    </el-col>
                                    <el-divider />
                                </el-row>
                            </el-card>
                        </el-collapse-item>
                    </div>

                    <div v-if="task.name === 'Recruit'">
                        <el-collapse-item>
                            <template #title>
                                <el-row class="centered-row">
                                    <el-col :span="20">
                                        <span>自动公招</span>
                                    </el-col>
                                    <el-col :span="4">
                                        <el-switch v-model="task.enable" active-color="#13ce66"
                                            inactive-color="#ff4949">
                                        </el-switch>
                                    </el-col>
                                </el-row>
                            </template>

                            <el-card class="box-card">

                                <el-row class="centered-row">
                                    <el-col :span="4">
                                        <span>自动刷新三星Tags:</span>
                                    </el-col>
                                    <el-col :span="20">
                                        <el-switch v-model="task.refresh" active-color="#13ce66"
                                            inactive-color="#ff4949">
                                        </el-switch>
                                    </el-col>
                                    <el-divider />
                                </el-row>

                                <el-row class="centered-row">
                                    <el-col :span="4">
                                        <span>允许选择的Tag等级:</span>
                                    </el-col>
                                    <el-col :span="20">
                                        <el-select v-model="task.select" multiple>
                                            <el-option label="1" :value="Number(1)"></el-option>
                                            <el-option label="2" :value="Number(2)"></el-option>
                                            <el-option label="3" :value="Number(3)"></el-option>
                                            <el-option label="4" :value="Number(4)"></el-option>
                                            <el-option label="5" :value="Number(5)"></el-option>
                                        </el-select>
                                    </el-col>
                                    <el-divider />
                                </el-row>

                                <el-row class="centered-row">
                                    <el-col :span="4">
                                        <span>允许确定的Tag等级:</span>
                                    </el-col>
                                    <el-col :span="20">
                                        <el-select v-model="task.confirm" multiple>
                                            <el-option label="1" :value="Number(1)"></el-option>
                                            <el-option label="2" :value="Number(2)"></el-option>
                                            <el-option label="3" :value="Number(3)"></el-option>
                                            <el-option label="4" :value="Number(4)"></el-option>
                                            <el-option label="5" :value="Number(5)"></el-option>
                                        </el-select>
                                    </el-col>
                                    <el-divider />
                                </el-row>

                                <el-row class="centered-row">
                                    <el-col :span="4">
                                        <span>公招次数:</span>
                                    </el-col>
                                    <el-col :span="20">
                                        <el-input-number v-model="task.times" :min="0" :max="100"></el-input-number>
                                    </el-col>
                                    <el-divider />
                                </el-row>
                            </el-card>
                        </el-collapse-item>
                    </div>

                    <div v-if="task.name === 'Infrast'">
                        <el-collapse-item>
                            <template #title>
                                <el-row class="centered-row">
                                    <el-col :span="20">
                                        <span>基建换班</span>
                                    </el-col>
                                    <el-col :span="4">
                                        <el-switch v-model="task.enable" active-color="#13ce66"
                                            inactive-color="#ff4949">
                                        </el-switch>
                                    </el-col>
                                </el-row>
                            </template>

                            <el-card class="box-card">
                                <el-row class="centered-row">
                                    <el-col :span="4">
                                        <span>换班设施:</span>
                                    </el-col>
                                    <el-col :span="20">
                                        <el-select v-model="task.facility" multiple>
                                            <el-option label="制造站" value="Mfg"></el-option>
                                            <el-option label="贸易站" value="Trade"></el-option>
                                            <el-option label="发电站" value="Power"></el-option>
                                            <el-option label="控制中枢" value="Control"></el-option>
                                            <el-option label="会客室" value="Reception"></el-option>
                                            <el-option label="办公室" value="Office"></el-option>
                                            <el-option label="宿舍" value="Dorm"></el-option>
                                        </el-select>
                                    </el-col>
                                    <el-divider />
                                </el-row>

                                <el-row class="centered-row">
                                    <el-col :span="4">
                                        <span>无人机用途:</span>
                                    </el-col>
                                    <el-col :span="20">
                                        <el-input v-model="task.drones" />
                                    </el-col>
                                    <el-divider />
                                </el-row>
                            </el-card>
                        </el-collapse-item>
                    </div>

                    <div v-if="task.name === 'Fight'">
                        <el-collapse-item>
                            <template #title>
                                <el-row class="centered-row">
                                    <el-col :span="20">
                                        <span>刷理智</span>
                                    </el-col>
                                    <el-col :span="4">
                                        <el-switch v-model="task.enable" active-color="#13ce66"
                                            inactive-color="#ff4949">
                                        </el-switch>
                                    </el-col>
                                </el-row>
                            </template>

                            <el-card class="box-card">
                                <el-row class="centered-row">
                                    <el-col :span="4">
                                        <span>关卡:</span>
                                    </el-col>
                                    <el-col :span="20">
                                        <el-input v-model="task.stage"></el-input>
                                    </el-col>
                                    <el-divider />
                                </el-row>

                                <el-row class="centered-row">
                                    <el-col :span="4">
                                        <span>最大理智药使用数量:</span>
                                    </el-col>
                                    <el-col :span="20">
                                        <el-input-number v-model="task.medicine" :min="0" :max="100"></el-input-number>
                                    </el-col>
                                    <el-divider />
                                </el-row>

                                <el-row class="centered-row">
                                    <el-col :span="4">
                                        <span>48小时内过期理智药使用数量:</span>
                                    </el-col>
                                    <el-col :span="20">
                                        <el-input-number v-model="task.expiring_medicine" :min="0"
                                            :max="100"></el-input-number>
                                    </el-col>
                                    <el-divider />
                                </el-row>

                                <el-row class="centered-row">
                                    <el-col :span="4">
                                        <span>连战次数:</span>
                                    </el-col>
                                    <el-col :span="20">
                                        <el-input-number v-model="task.series" :min="-1" :max="6"></el-input-number>
                                    </el-col>
                                    <el-divider />
                                </el-row>
                            </el-card>
                        </el-collapse-item>
                    </div>

                    <div v-if="task.name === 'Mall'">
                        <el-collapse-item>
                            <template #title>
                                <el-row class="centered-row">
                                    <el-col :span="20">
                                        <span>领取信用及购物</span>
                                    </el-col>
                                    <el-col :span="4">
                                        <el-switch v-model="task.enable" active-color="#13ce66"
                                            inactive-color="#ff4949">
                                        </el-switch>
                                    </el-col>
                                </el-row>
                            </template>

                            <el-card class="box-card">
                                <el-row class="centered-row">
                                    <el-col :span="4">
                                        <span>是否购物:</span>
                                    </el-col>
                                    <el-col :span="20">
                                        <el-switch v-model="task.shopping" active-color="#13ce66"
                                            inactive-color="#ff4949" />
                                    </el-col>
                                    <el-divider />
                                </el-row>

                                <el-row class="centered-row">
                                    <el-col :span="4">
                                        <span>优先购买:</span>
                                    </el-col>
                                    <el-col :span="20">
                                        <el-select v-model="task.buy_first" multiple>
                                            <el-option label="招聘许可" value="招聘许可"></el-option>
                                            <el-option label="龙门币" value="龙门币"></el-option>
                                        </el-select>
                                    </el-col>
                                    <el-divider />
                                </el-row>
                            </el-card>
                        </el-collapse-item>
                    </div>

                    <div v-if="task.name === 'Award'">
                        <el-collapse-item>
                            <template #title>
                                <el-row class="centered-row">
                                    <el-col :span="20">
                                        <span>领取奖励</span>
                                    </el-col>
                                    <el-col :span="4">
                                        <el-switch v-model="task.enable" active-color="#13ce66"
                                            inactive-color="#ff4949">
                                        </el-switch>
                                    </el-col>
                                </el-row>
                            </template>
                        </el-collapse-item>
                    </div>

                    <div v-if="task.name === 'CloseDown'">
                        <el-collapse-item>
                            <template #title>
                                <el-row class="centered-row">
                                    <el-col :span="20">
                                        <span>关闭游戏</span>
                                    </el-col>
                                    <el-col :span="4">
                                        <el-switch v-model="task.enable" active-color="#13ce66"
                                            inactive-color="#ff4949">
                                        </el-switch>
                                    </el-col>
                                </el-row>
                            </template>
                            <el-card class="box-card">
                                <el-row class="centered-row">
                                    <el-col :span="4">
                                        <span>客户端类型:</span>
                                    </el-col>
                                    <el-col :span="20">
                                        <el-input v-model="task.client_type"></el-input>
                                    </el-col>
                                    <el-divider />
                                </el-row>
                            </el-card>
                        </el-collapse-item>
                    </div>
                </div>
            </el-collapse>

            <template #footer>
                <div>
                    <el-button @click="createTaskDialogVisible = false">取消</el-button>
                    <el-button type="primary" @click="executeMaaPipelineData">
                        执行任务
                    </el-button>
                </div>
            </template>
        </el-dialog>
    </div>
</body>

</html>